<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.mybatis.mapper.websiteMapper">

    <resultMap id="BaseResultMap" type="com.tx.website.dao.website">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="website" jdbcType="VARCHAR" property="time" />
        <result column="url" jdbcType="VARCHAR" property="website" />
    </resultMap>

    
    <insert id="insertWebsite" useGeneratedKeys="true" keyProperty="id">
      insert into t_website (website,url)
      values (#{website},#{url})
    </insert>
    
    <select id="getWebsiteList" resultType="com.tx.website.dao.website">
        select id,website,url from t_website
    </select>
    
    <select id="getUrlByWebsite" resultType="String">
        select url from t_website where website=#{website}
    </select>
    
</mapper>